
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');


.article__container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    margin: 1em;
    padding: 1em;
    border: 10px solid #0C1395;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    width: 295px;
    max-width: 300px;
  }
  .article__container:hover {
    transform: translateY(-6px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  
  .header__container {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    border-radius: 1px;
    height: 181px;
    margin-top: -17px;
    width: 327.8px;
    position: relative;
    overflow: visible;
    background-image: linear-gradient(10deg, #e8cb7f 0, #e5bc71 16.67%, #dba65c 33.33%, #cc8a42 50%, #bc6e2a 66.67%, #b2571c 83.33%, #ae451a 100%);
    
  }
  
  .pokemon__img {
    height: 200px;
    display: block;
    position: absolute;
    top: 10px;
  }
  
  .pokemon__name {
    text-align: center;
    margin-bottom: .5em;
    margin-top: .7em;
    text-transform: capitalize;
    font-size: 25px;
    line-height: 29px;
    font-family: 'Roboto', sans-serif;
    
  }
  
  .pokemon__types-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    margin-left: 1.5px;
    
    border-bottom: 0.5px solid #E5E5E5;
    width: 327px;
    
  }
  
  .pokemon__type {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .pokemon__type-data {
        padding: 0.2em 0.5em;
        margin-right: 0.5em;
        margin-bottom: 1.5em;
        text-transform: capitalize;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        color: #4f4f4f;
  }
  
  .pokemon__stats-container {
    margin-top: 1em;
  }
  
  .pokemon__stats-separator {
     
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
      
  }
  
  .pokemon__stats-list {
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    width: 320px;
    
    gap: 10px;
    margin: 0;
    padding: 0;
    
    
  }
  
  .pokemon__stats-data {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    list-style: none;
    
   
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 10px;
    margin-left: 1px;
    
    font-weight: 500;
  }
  .pokemon__stats-label{
    margin-top: 8px;
    
        list-style: none;
        text-transform: uppercase;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #9F9F9F;
    
  }
.stats__label-name{
    margin-left: 15px;
}
  .label__value{
    font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #E52D2D;
  }
  
  .pokemon__stats-label:first-of-type {
    margin-right: 1em;
  }
  
  .bg-grass{
    background-image: linear-gradient(178.92deg, #7ec6c5 .92%, #abdac6 47.96%, #CAE099 99.08%);
  }

  .bg-fire{
    background-image: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
  }

  .bg-water{
    background-image: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
  }

  .bg-bug{
    background-image: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
  }

  .bg-normal{
    background-image: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
  }

  .bg-poison{
    background-image: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
  }

  .bg-fighting{
    background-image: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%)
  }

  .bg-electric{
    background-image: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
  }

  .bg-ground{
    background-image: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
  }

  .bg-fairy{
    background-image: linear-gradient(0, #0099b2 0, #0098c4 3.33%, #0098d6 6.67%, #0097e5 10%, #0095f3 13.33%, #0093fe 16.67%, #0090ff 20%, #008cff 23.33%, #0087ff 26.67%, #0081ff 30%, #007aff 33.33%, #0771ff 36.67%, #6368fd 40%, #8a5df1 43.33%, #a750e4 46.67%, #be42d4 50%, #d031c3 53.33%, #de1cb1 56.67%, #e9009e 60%, #f0008a 63.33%, #f50077 66.67%, #f60064 70%, #f50051 73.33%, #f1143e 100%);
  }

  .bg-psychic{
    background-image: linear-gradient(0, #ce919c 0, #c48496 16.67%, #b5718b 33.33%, #9f587c 50%, #88406f 66.67%, #752f67 83.33%, #652665 100%);
  }
  .bg-rock{
    background-image: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
  }
  .bg-ghost{
    background-image: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
  }

  .bg-dark{
    background-image: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
  }
  .bg-ice{
    background-image: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
  }
  .bg-steel{
    background-image: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
  }

  .bg-magic{
    background-image: linear-gradient(0, #ffffb3 0, #d2c84a 50%, #949e24 100%); 
  }
  .bg-dragon{
    background-image: linear-gradient(10deg, #e8cb7f 0, #e5bc71 16.67%, #dba65c 33.33%, #cc8a42 50%, #bc6e2a 66.67%, #b2571c 83.33%, #ae451a 100%);
  }

  .border-grass{
    border: 10px solid #7ec6c5;
  }

  .border-fire{
    border: 10px solid #F96D6F;
  }
  .border-water{
    border: 10px solid #133258;
  }
  .border-bug{
   border: 10px solid #3BB039
  }
  .border-normal{
    border: 10px solid #BC6B7C
  }
  .border-poison{
    border: 10px solid  #5B3184
  }
.border-fighting{
  border: 10px solid #96402A 
}
.border-electric{
  border: 10px solid  #2B319B;
}
.border-ground{
  border: 10px solid  #654008 
}

.border-fairy{
  border: 10px solid #f50077
}
.border-psychic{
  border: 10px solid #ce919c
}
.border-rock{
  border:10px solid #D3D3D3
}
.border-ghost{
  border: 10px solid #323569 
}

.border-dark{
  border:10px solid #0D1211
}

.border-ice{
  border: 10px solid #BDEBFE;
}
.border-steel{
  border: 10px solid #5E736C ;
}
.border-magic{
  border: 10px solid #d2c84a;
}
.border-dragon{
  border: 10px solid #793333;
}

.color-grass{
color: #7ec6c5 !important; 

}
.color-fire{
  color: #F96D6F !important;
}
.color-water{
  color: #133258 !important;
}
.color-bug{
 color: #3BB039 !important;
}
.color-normal{
  color: #BC6B7C !important;
}
.color-poison{
 color: #5B3184!important;
}
.color-fighting{
color: #96402A !important;
}
.color-electric{
color: #2B319B!important;
}
.color-ground{
color:  #654008!important; 
}

.color-fairy{
color: #f50077!important;
}
.color-psychic{
color: #ce919c!important;
}
.color-rock{
color: #D3D3D3!important;
}
.color-ghost{
color: #323569!important; 
}

.color-dark{
color: #0D1211!important;
}

.color-ice{
color: #BDEBFE!important;
}
.color-steel{
color: #5E736C!important; 
}
.color-magic{
color: #d2c84a!important;
}
.color-dragon{
color: #793333!important;
}