@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.pokedex__header img{
    width: 300px;
    height: auto;   
}
.pokedex__header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #fe1936 70%, #000000 30%);
    height: 173px;
  }

.pokedex__header  .pokeball__header{
    width: 80px;
    height: 80px;
    position: relative;
    left: 30%;
    top:20%
    
  }

  
  .pokedex__title{
        padding-left: 1em;
            padding-right: 1em;
            margin-bottom: 2em;
            margin-top: 1em;
            font-family: 'Inter';
            font-size: 24px;
            color: #5e5b5b; 
                     
  }
  
  .pokedex__title-name{
    font-weight: 600;
    color: #fe1936;
    font-family: 'Inter';
  }
  
  .pokedex__container-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap:1em;
    justify-content: center;
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
  }

   .pokedex__circle-container img{
    display: block;
   
} 

.navigator__container{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  margin-left: 1em;
}

.form{
  display: flex;
  justify-content: center;
  height: 1.7em;
  margin-bottom: 2.5em;
  margin-top: 1.2em;
  }
  .form__input{
      width: 100%;
      height: 29px;
      border: .1px solid #5e5b5b;
      border-right: none;
      max-width: 150px;
      padding-left: 1em;
      border-radius: 0.5em 0 0 0.5em;
  }
  ::placeholder {
    color: #bebebe;
    font-size: 1em;
    font-style: italic;
}
  
  .form__btn{
      width: 80px;
      height: 32.5px;
      border: none;
      border-radius: 0 .5em .5em 0;
      background-color: #D93F3F;;
      color: #fff;
      font-weight:700 ;
      transition: font-weight 100ms ease, filter 100ms ease;
      cursor: pointer;
      margin-right: 40px;
  }
  
  .form__btn:hover{
      font-weight: 700;
      filter: brightness(1.1);
      box-shadow: 0 0 20px 2px #D93F3F;;
  }

  .form__select{
    display: flex;
    height: 92px;
  }

  /* ERROR MESSAGE DESING */
  .article__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em; 
    }
    
    .title__error {
    font-size: 45px;
    font-weight: bolder;
    color: rgb(252, 11, 11);
    padding: 2em;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Inter';
    }
    
    .img__error {
      height: 150px;
    animation: tilt 3s infinite;
    margin-top: 20px;
    }
    
    @keyframes tilt {
    from {
    transform: rotate(360deg);
    }
    to {
      transform:scale(1.4)
      }
    }

    body{
      height: 100vh;
    background: linear-gradient(to bottom, #ffbfbf, #ffcfcf);
    }
  

  /*RESPONSIVE */

  @media (max-width: 767px) {
    .pokedex__circle-container{
        display: block;
        position: absolute;
        width: fit-content;
        height: fit-content;
    }
    .pokedex__header img{
        width: 150px;
        height: auto;   
    }

    .pokedex__header {   
        height: 100px;
      }

      .pokedex__header  .pokeball__header{
        width: 40px;
        height: 40px;
        position: relative;
        left: 20%;
        top:20%
        
      }

         .navigator__container{
          display: flex;
          justify-content: start;
          align-items: start;
          flex-direction: column;
          width: 340px;
        }

        ::placeholder {
          color: #bebebe;
          font-size: .85em;
          font-style: italic;
      }
        .form__btn{
          width: 80px;
          height: 33px;
          border: none;
          border-radius: 0 .5em .5em 0;
          background-color: #D93F3F;;
          color: #fff;
          font-weight:700 ;
          transition: font-weight 100ms ease, filter 100ms ease;
          cursor: pointer;
          margin-right: 20px;
      }
    

    /*ERROR MESSAGE DESING */
    .title__error {
      font-size: 28px;
      font-weight: bolder;
      color: rgb(252, 11, 11);
      margin-bottom: 20px;
      text-align: center;
      font-family: 'Inter';
      }
      
      .img__error {
        height: 80px;
      animation: tilt 3s infinite;
      margin-top: 20px;
      }
    }

    @media only screen and (min-width: 481px) and (max-width: 1023px){

      .pokedex__header  .pokeball__header{
        width: 60px;
        height: 60px;
        position: relative;
        left: 23%;
        top:20% 
      }

             /*ERROR MESSAGE DESING */
    .title__error {
      font-size: 50px;
      font-weight: bolder;
      color: rgb(252, 11, 11);
      margin-bottom: 20px;
      padding: 2em;
      text-align: center;
      font-family: 'Inter';
      }
      
      .img__error {
        height: 200px;
      animation: tilt 3s infinite;
      margin-top: 100px;
      }
        
        
    }